.c-btn {
    margin-block-start: 2rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    text-transform: uppercase;
    border: 2px solid var(--color-black);
    color: var(--color-white);
}

.c-btn--black {
    background-color: var(--color-black);

    &:hover {
        background-color: var(--color-warning);
        border: none;
    }
}

.c-btn--center {
    display: block;
    margin: 4rem auto;
}