.c-grid {
    display: grid;
}

.c-grid--two {
    grid-template-columns: 1fr;

    @media (min-width: $mobile-sm) {
        grid-template-columns: 1fr 1fr;
    }
}

.c-grid--three {
    grid-template-columns: 1fr;

    @media (min-width: $mobile) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-md) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.c-grid--gap {
    grid-gap: 2rem;

    @media (min-width: $desktop) {
        grid-gap: 6rem;
    }
}