/*** Header ***/
.c-header-section {
    position: sticky;
    top: 0;
    z-index: 999;
    overflow: hidden;
    background-color: var(--color-black);
    padding: 1rem 1.5rem;
}

/*** Footer ***/
.c-footer-section {
    background-color: var(--color-black);
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}