:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #333333;
    --color-grey-light: #f4f6fb;
    --color-warning: #fcae61;
    --color-success: rgb(20, 140, 92);
    --color-primary: rgb(9, 125, 241);
    --color-pink: rgb(229, 29, 159);
}

$mobile-xss: 380px;
$mobile-xs: 440px;
$mobile-sm: 768px;
$mobile: 1024px;
$desktop: 1025px;
$desktop-md: 1280px;
$desktop-lg: 1440px;
$desktop-xl: 1680px;
